<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <title>eBook APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
        <div>
            <h1>{% block myhdg %} {% endblock %}</h1>
            {% block body_block %} {% endblock %}
        </div>
        <hr />
        <div>
            <ol>
                <li class="hbar1"><a href="/myapp/about/">Find out about this site</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:findbooks' %}">Click here to return to find books</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:place_order' %}">Click here to return to place order</a><br/></li>

            </ol>
        </div>
    </body>
</html>
