<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eBook App</title>
</head>
<body>

    {% if booklist %}
        <h2>List of Books</h2>
        <ol>
            {% for book  in booklist %}
                <li> <a href="{% url 'myapp:detail' book_id=book.id %}">{{book.title}}</a> </li>
            {% endfor %}
        </ol>

    {% else %}
        <strong>There are no available books!</strong>
    {% endif %}

{#    Namespace#}
    <p><a href="{% url 'myapp:about_page'%}">About page</a></p>
</body>

</html>
